.dashboardLayout {
  display: flex;
  min-height: 100vh;
}

.mainContent {
  flex: 1;
  margin-left: 250px;
  display: flex;
  flex-direction: column;
}

.content {
  flex: 1;
  margin-top: 64px;
  padding: 32px;
  background-color: #ffffff;
}
